In [1]:
print("My first program")

My first program

In [2]:
print('My first program')

My first program

In [3]:
print("""My first program""")

My first program

In [4]:
# Create Variable;

In [5]:
data='AI is future'

In [6]:
print(data)

AI is future

In [7]:
data1=[12,11,13]

In [8]:
print(data1)

[12, 11, 13]

In [9]:
help=[1,2,3]

In [10]:
print(help)

[1, 2, 3]

In [11]:
#String

In [12]:
demo="My first program"

In [13]:
print(demo)

My first program

In [14]:
demo1=12

In [15]:
print(demo1)

12

In [16]:
type(demo)

str

In [17]:
type(demo1)

int

In [18]:
demo2=12.22

In [19]:
print(demo2)

12.22

In [20]:
type(demo2)

float

In [21]:
# Concatinating Indexing and Slicing

In [22]:
fname="Rohith"
lname="Neelagiriyappa"

print(fname+" "+lname)

Rohith Neelagiriyappa

In [23]:
z=fname+" "+lname

In [24]:
print(z)

Rohith Neelagiriyappa

In [25]:
len(z)

21

In [26]:
z[1:6]

'ohith'

In [27]:
## Manipulate Strings with Methods
#Methods and Functions - both are same.
#Methods are nothing but when something is ended with (), we call it as methods/functions.

In [28]:
a="Rohith"
b="Python"
c="Mathematics"
d="Artificial Intelligence"

In [29]:
print(a)
print(b)
print(c)
print(d)

Rohith
Python
Mathematics
Artificial Intelligence

In [30]:
print(a.upper())
print(b.upper())
print(c.upper())
print(d.upper())

ROHITH
PYTHON
MATHEMATICS
ARTIFICIAL INTELLIGENCE

In [31]:
print(a.lower())
print(b.lower())
print(c.lower())
print(d.lower())

rohith
python
mathematics
artificial intelligence

In [32]:
w="Jagan     "
x="     Rohith"
y="     Bangalore"
z="Yaseen     "

In [33]:
print(w.strip())
print(x.lstrip())
print(y.lstrip())
print(z.rstrip())

Jagan
Rohith
Bangalore
Yaseen

In [34]:
print(z.startswith("Y"))

True

In [35]:
## Interact with user Input

In [36]:
get_input=input("Enter your name: ")
print(get_input.lower())

Enter your name: Rohith
rohith

In [37]:
get_input=input("Enter Your name : ")
print(len(get_input))

Enter Your name : Rohith
6

In [38]:
# Get and print the first letter of your name

In [41]:
name=input("Enter your name : ")
print("The first letter of my name is :" , name[0])

Enter your name : Rohith
The first letter of my name is : R

In [42]:
# Working with strings and Numbers

In [44]:
a=input("Enter the number : ")
b=input("Enter the second number :")
print("Product of two numbers is :" ,float(a)* float(b))

Enter the number : 2
Enter the second number :4
Product of two numbers is : 8.0

In [45]:
#Streamline your Print statements

In [51]:
expert ="Rohith"
age=25
print('{} is expert in Artificial Intelligence with age {}'.format (expert , age ))

Rohith is expert in Artificial Intelligence with age 25

In [52]:
captain ="Virak Kohli"
vice_captain="Rahane"
print("{} is the captain of India Cricket team and {} is vicecaptain".format(captain,vice_captain))

Virak Kohli is the captain of India Cricket team and Rahane is vicecaptain

In [53]:
#Find a string in a string

In [54]:
news=" Captain cool appriciated the overall performance of the team under virat kohli's captaincy"

In [55]:
print(news.find('t'))

4

In [56]:
print(news.find('cool'))

9

In [57]:
news.replace("cool","Dhoni")

" Captain Dhoni appriciated the overall performance of the team under virat kohli's captaincy"

In [59]:
sentiment=" He is 100% good boy"
sentiment.replace("100%","")

' He is  good boy'

In [60]:
# Numbers in Python

In [61]:
#Integers and Float point Numbers

In [62]:
type(35e10)

float

In [63]:
type(35)

int

In [64]:
type("35")

str

In [65]:
#Math Functions and Number Methods

In [72]:
get_number=input("Enter the number: ")
print(abs(float(get_number)))  ## abs can be applied if the input is integer or float

Enter the number: 6.6
6.6

In [73]:
# Write your own function:
def getingradients():
    print("Brocc0li")
    print("Eggs")

In [74]:
getingradients()

Brocc0li
Eggs

In [75]:
#Positional Arguments

In [76]:
def addition(number1,number2):
    print(number1+number2)

In [77]:
addition(2,2)

4

In [78]:
#Get 3 arguments with different datatypes and return a statement.

In [83]:
def three_fun(a,b,c):
    return "My name is {} ,Im from {} and my age is {}".format(a,b,c)

In [84]:
three_fun('Rohith','Bangalore',31)

'My name is Rohith ,Im from Bangalore and my age is 31'

In [1]:
##Default Arguments

In [2]:
def get_empdetails(name,age,company='Capgemini'):
    print('Name :',name)
    print('Age :', age)
    print('Company :',company)

In [4]:
get_empdetails('Rohith',31)
get_empdetails('Sham',32)
get_empdetails('Shivu',21)

Name : Rohith
Age : 31
Company : Capgemini
Name : Sham
Age : 32
Company : Capgemini
Name : Shivu
Age : 21
Company : Capgemini

In [5]:
#Variable-length Arguments

In [6]:
def get_emp_details(name,age,*Company):
    print("Name :",name)
    print("Age :",age)
    print("Company :",Company)

In [7]:
get_emp_details('Rohith',31,'Quadgen Wireless Solutions','UST Global (Nokia)','Innodatatics')

Name : Rohith
Age : 31
Company : ('Quadgen Wireless Solutions', 'UST Global (Nokia)', 'Innodatatics')

In [9]:
def get_emp_details(name,age,**Company):
    print("Name :", name)
    print("Age :",age)
    print("Company:",Company)

In [10]:
get_emp_details("Rohith",31,Comp1='Quadgen',Comp2='UST Global',Comp3='Innodatatics')

Name : Rohith
Age : 31
Company: {'Comp1': 'Quadgen', 'Comp2': 'UST Global', 'Comp3': 'Innodatatics'}

In [11]:
# Run in Circle

In [12]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [16]:
##Compare values using arithmatic operations:
print(1<=1)
print(1!=1)
print('suresh'=="jagan")
print(123=="123")
print('suresh'!='jagan')

True
False
False
False
True

In [17]:
a=1
b=2
c=4
print(a>2 and b<2)

False

In [18]:
a="My name is Rohith"

In [19]:
'name' in a

True

In [21]:
#Control the flow of your program

In [22]:
# To find the number is prime or not:

def prime_or_not(num):
    for values in range(2,num):
        if num%values==0:
            return "Number is not prime"
            break
        else:
            return "Number is Prime"

In [23]:
prime_or_not(10)

'Number is not prime'

In [24]:
prime_or_not(3)

'Number is Prime'

In [25]:
#Perfect square or not:
def perfect_square(num):
    square=num**(1/2)
    if square%1==0:
        return True
    else:
        return False

In [26]:
perfect_square(24)

False

In [27]:
perfect_square(25)

True

In [34]:
##program to add numbers:

def add(*args):
    a=0
    for values in args:
        a+=values
    return a

In [35]:
add(1,2,3)

6

In [36]:
#Multiply numbers:

def mul(*args):
    a=1
    for values in args:
        a*=values
    return a

In [37]:
mul(1,2,3)

6

In [38]:
mul(1,2,3,4,5)

120

In [39]:
def fact(num):
    if num==1:
        return 1
    return num*fact(num-1)

In [40]:
fact(5)

120

In [41]:
# Simple if else statement:

user_input=input("Type Something")

if len(user_input)<5:
    print("Length is less than 5 ")
else:
    print("Length is greater than 5")

Type SomethingMy name is Rohith
Length is greater than 5

In [43]:
user_input=input("Type Something")

if len(user_input)<5:
    print("Length is less than 5 ")
elif len(user_input)>5:
    print("Length is greater than 5")
else:
    print("Length is exactly same at 5")

Type SomethingRavan
Length is exactly same at 5

In [44]:
for i in range(1,50):
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [45]:
#List: 
#One dimensional,Heterogeneous,Mutable,allows duplicate vales,Slicable

In [46]:
student_marks=[]

In [47]:
type(student_marks)

list

In [48]:
student_marks=[1,2,3,4,5]

In [49]:
type(student_marks)

list

In [50]:
len(student_marks)

5

In [51]:
student_marks[2]

3

In [52]:
#List is indexable and slicable

In [53]:
indian_scores=[100,200,300,400,500]

In [54]:
indian_scores[2:]

[300, 400, 500]

In [55]:
indian_scores[3:4]

[400]

In [58]:
indian_scores[:-1]

[100, 200, 300, 400]

In [57]:
indian_scores[-1:]

[500]

In [59]:
indian_scores[2]=432

In [61]:
indian_scores

[100, 200, 432, 400, 500]

In [62]:
name_id=[1,2,3,'Prerana']

In [63]:
name_id.append('Kiran')

In [64]:
name_id

[1, 2, 3, 'Prerana', 'Kiran']

In [65]:
name_id.append("Virat")

In [66]:
name_id

[1, 2, 3, 'Prerana', 'Kiran', 'Virat']

In [67]:
len(name_id)

6

In [69]:
name_id.append('r','k') # Note append takes only one argument

TypeError: append() takes exactly one argument (2 given)

In [70]:
name_id.extend(['Sneha','Ramya'])

In [71]:
name_id

[1, 2, 3, 'Prerana', 'Kiran', 'Virat', 'Sneha', 'Ramya']

In [72]:
#Sets:Heterogeneous , One dimensional,Not slicable,Not indexable,Never allow unique elements it will print only unique elements

In [73]:
blood_group=set()

In [74]:
type(blood_group)

set

In [75]:
blood_group_details={'B+','O+','AB+',4,3,3,4,3}

In [76]:
blood_group_details

{3, 4, 'AB+', 'B+', 'O+'}

In [77]:
group={}
type(group)

dict

In [78]:
#Not indexable and slicable

In [79]:
blood_group_details[0]

TypeError: 'set' object is not subscriptable

In [81]:
blood_group_details[1]='O-'

TypeError: 'set' object does not support item assignment

In [84]:
blood_group_details.add('O-')

In [85]:
blood_group_details

{3, 4, 'AB+', 'B+', 'O+', 'O-', 'O-|'}

In [87]:
#Tuples: One dimensional,Heterogeneous,Allows duplicate elements,Immutable

In [88]:
t=() # Empty tuple

In [89]:
type(t)

tuple

In [91]:
name=("Neha",'Pratik','Shifa',123,1.234)

In [92]:
name

('Neha', 'Pratik', 'Shifa', 123, 1.234)

In [93]:
name=("Neha",'Pratik','Shifa',123,1.234,"Neha",'Pratik','Shifa',123,1.234)

In [94]:
name[1]

'Pratik'

In [95]:
name[1]='John' # Tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [96]:
name.count('Pratik')

2

In [97]:
# Dictionary:It is also called key value pair,2D,Heterogeneous

In [98]:
emp_dic={}

In [99]:
type(emp_dic)

dict

In [100]:
data={'fname':'Rohith','lname':'Neelagiriyappa','Age':31}

In [102]:
data.values()

dict_values(['Rohith', 'Neelagiriyappa', 31])

In [103]:
data.keys()

dict_keys(['fname', 'lname', 'Age'])

In [104]:
data

{'fname': 'Rohith', 'lname': 'Neelagiriyappa', 'Age': 31}

In [105]:
data1={'fname':['Rohith','Arun'],'lname':['Niranjan','Patrick'],'Age':[21,31]}

In [106]:
data1

{'fname': ['Rohith', 'Arun'],
 'lname': ['Niranjan', 'Patrick'],
 'Age': [21, 31]}

In [107]:
data1['fname']

['Rohith', 'Arun']

In [108]:
data1['fname'][0]='Arjun'

In [109]:
data1

{'fname': ['Arjun', 'Arun'], 'lname': ['Niranjan', 'Patrick'], 'Age': [21, 31]}

In [117]:
print("First name",data1.get('fname'))
print("Last name",data1.get('lname'))

First name ['Arjun', 'Arun']
Last name ['Niranjan', 'Patrick']

In [118]:
import pandas as pd

In [119]:
data=pd.DataFrame(data1)

In [120]:
data

   fname     lname  Age
0  Arjun  Niranjan   21
1   Arun   Patrick   31