In [1]:
# First Python program

In [2]:
print("Welcome to datascience program")

Welcome to datascience program

In [3]:
print('Hello World')

Hello World

In [4]:
print("Bindu replied Varun's session is okay")

Bindu replied Varun's session is okay

In [5]:
# Create a variable

In [6]:
participants = 10,20,30,40,50

In [7]:
participants

(10, 20, 30, 40, 50)

In [8]:
len(participants)

5

In [9]:
participants[0]

10

In [10]:
participants[3]

40

In [11]:
participants[1:]

(20, 30, 40, 50)

In [12]:
participants[0:4]

(10, 20, 30, 40)

In [13]:
#In python we have different data types

In [14]:
#int - integer :Number without decimal point
#float :Number with decimal point
#str -String : Anthong enclosed within quotes

In [15]:
rcb_score = 165

In [16]:
type(rcb_score)

int

In [17]:
a=9.9

In [18]:
type(a)

float

In [19]:
avg_marks='99.3'

In [20]:
type(avg_marks)

str

In [21]:
bng=0.9

In [22]:
type(bng)

float

In [23]:
learner1='Rohith'
learner2='Rahul'
print(learner1)
print(learner2)

Rohith
Rahul

In [24]:
#### Methods/Functions - is an operation that we are performing on a variable. It need to be ended with ().

In [25]:
a='london'

In [26]:
a.capitalize()

'London'

In [27]:
a.upper()

'LONDON'

In [28]:
a.endswith('n')

True

In [29]:
a.isalnum() # checks whether the string contains only numeric or alphabets

True

In [30]:
text = 'Python is programming language'

In [31]:
text.split()

['Python', 'is', 'programming', 'language']

In [32]:
fname= 'Sachin'
lname='Tendulkar'

In [33]:
fname,lname

('Sachin', 'Tendulkar')

In [34]:
fname+' '+lname

'Sachin Tendulkar'

In [35]:
print('Firts name :', fname , '\n' 'Last name :', lname )

Firts name : Sachin
Last name : Tendulkar

In [36]:
print('Firts name :', fname , '\t' 'Last name :', lname )

Firts name : Sachin 	Last name : Tendulkar

In [37]:
i = 'I Love Python'

In [38]:
i[ 3:10]

'ove Pyt'

In [39]:
fname= 'Rahul'
lname='Gandhi'

print('My name is {} and my last name is {}'.format(fname ,lname) )

My name is Rahul and my last name is Gandhi

In [40]:
print('My first name  is'+ ' ' + fname + ' '+ 'My last name is ' + lname)

My first name  is Rahul My last name is Gandhi

In [41]:
fname=input('My first name is ')

My first name is Rohith\

In [42]:
get_num=int(input('Enter the number :'))

Enter the number :99

#### Functions and Loops

We have 3 different functions in python.

* 1. Predefined functions/ Built-in function
    - when we install anaconda navigator, few methods will get automaticaly installed.
* 2. User-defined functions
    - a customized function based on user preference. set of instructions
* 3. Anonymous function 
    - is a nameless function used to perform only one operation at once.

In [43]:
def add_num (num1,num2):
    print(num1)
    print(num2)
    return num1+num2

In [44]:
add_num(19,10)

19
10

29

In [45]:
def get_details(num1,num2,name): # Arguments
    print(num1)
    print(num2)
    print(name)
    return len(name)

In [46]:
get_details(10,20,'Triveni')

10
20
Triveni

7

In [47]:
# Default Parameter

In [48]:
def get_emp_details(id_no,e_name,age,company= 'IBM'):
    print('ID Number :', id_no)
    print('Employee_Name :',e_name)
    print('Age :',age)
    print('Company :',company)

In [49]:
get_emp_details(1112,'Umesh',22)

ID Number : 1112
Employee_Name : Umesh
Age : 22
Company : IBM

In [50]:
get_emp_details(3,'Amrapali',28,'Google')

ID Number : 3
Employee_Name : Amrapali
Age : 28
Company : Google

In [51]:
def get_emp_details(id_no,e_name,age,*company):
    print('ID Number :', id_no)
    print('Employee_Name :',e_name)
    print('Age :',age)
    print('Company :',company)

In [52]:
get_emp_details(3,'Amrapali',28,'Google','Microsoft')

ID Number : 3
Employee_Name : Amrapali
Age : 28
Company : ('Google', 'Microsoft')

In [53]:
def get_emp_details(id_no,e_name,age,**company):
    print('ID Number :', id_no)
    print('Employee_Name :',e_name)
    print('Age :',age)
    print('Company :',company)

In [54]:
get_emp_details(3,'Amrapali',28,company1='Google',company2='Microsoft') #Keyword Arguments

ID Number : 3
Employee_Name : Amrapali
Age : 28
Company : {'company1': 'Google', 'company2': 'Microsoft'}

In [55]:
 # Variable length and Keyword Argumen

In [56]:
def get_emp_details(id_no,age,*e_name,**company):
    print('ID Number :', id_no)
    print('Employee_Name :',e_name)
    print('Age :',age)
    print('Company :',company)

In [57]:
get_emp_details(3,22,'Amrapali','John',company1='Google',company2='Microsoft')

ID Number : 3
Employee_Name : ('Amrapali', 'John')
Age : 22
Company : {'company1': 'Google', 'company2': 'Microsoft'}